.ftco-intro .wrap .social {
  background: #ba241c;
}

.ftco-intro .wrap .logo {
  display: block;
  position: relative;
  width: 250px;
  height: 43px;
  margin: 0 auto 40px auto;
  background-repeat: no-repeat;
  text-indent: -1000em;
  outline: none;
}

.ftco-intro .wrap .info {
  width: 100%;
}
